<div class="panel panel-success">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="placeholder">
                    <img src="holder.js/100%x132" holder-fix>
                </div>
            </div>
            <div class="col-md-10">
                <div><strong>Cost: </strong> 10LP</div>
                <div><strong>Pay up to: </strong> June 30 7:13 PM</div>
                <div><strong>Description: </strong> Test payment</div>

                <hr>
                <strong>TOTAL COST: </strong> 10LP
                <br><br>
                <br>
            </div>


        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <form action class="form">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Login (ID) in Alfa-Click system:</label>
                        <input type="text" class="form-control">
                        <div class="help-block">
                            7 digits
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Email:</label>
                        <input type="text" class="form-control">
                        <div class="help-block">
                             We will send you information about payment 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">&nbsp;</label>
                        <a href class="btn btn-block btn-primary">Checkout</a>  
                    </div>
                </div>
                

            </form>

        </div>
    </div>
    
</div>