


<div class="container">
    <br>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ui-sref="home">LESSPAY</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
        <div class="pull-right">

            <a href="#" class="btn btn-sm btn-success navbar-btn ">Login</a>
            
        </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="well pull-right">
                        <strong>10 LP</strong>
                    </div>
                    Payment for orders in the shop <br><br>
                    <div><strong>CustomerID: </strong> 123321</div>
                    <div><strong>From: </strong> <a href="" target="_blank">Mr. Swipe</a></div>
                    <div><strong>Description: </strong> Testpayment</div>


                    <hr>

                    <strong><a href="#" class="">BACK TO SHOP</a></strong>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li active-tab='home'><a href >Payment information</a></li>
                <li active-tab='billing'><a href >Billing information</a></li>
                <li active-tab='confirmation'><a href >Confirmation</a></li>
            </ul>

            <br>
            <br>

        </div>

                



    </div>
</div>
<div class="container" ui-view>

    <div class="row">
        <div class="col-md-12">
            <form action class="form">
                
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search your payment tool">
                        <div class="input-group-btn">
                            <a href class="btn btn-primary"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>

            </form>
            <br>
        </div>
    </div>
    <div class="row">
                <legend>Terminal</legend>
                
                <div class="col-md-4">
                    <a href ui-sref="billing({ 'id' : 'qiwi'})" class="thumbnail text-center">
                        <img src="holder.js/100%x132" holder-fix>
                        <div class="caption">
                            <strong>Qiwi</strong>
                        </div>

                    </a>
                    
                </div><div class="col-md-4">
                    <a href ui-sref="billing({ 'id' : 'qiwi'})" class="thumbnail text-center">
                        <img src="holder.js/100%x132" holder-fix>
                        <div class="caption">
                            <strong>Qiwi</strong>
                        </div>

                    </a>
                    
                </div><div class="col-md-4">
                    <a href ui-sref="billing({ 'id' : 'qiwi'})" class="thumbnail text-center">
                        <img src="holder.js/100%x132" holder-fix>
                        <div class="caption">
                            <strong>Qiwi</strong>
                        </div>

                    </a>
                    
                </div>


                    
               
                <legend>e-wallet</legend>

                <div class="col-md-3">
                    <a href ui-sref="billing({ 'id' : 'qiwi'})" class="thumbnail text-center">
                        <img src="holder.js/100%x132" holder-fix>
                        <div class="caption">
                            <strong>Qiwi</strong>
                        </div>

                    </a>
                    
                </div><div class="col-md-3">
                    <a href ui-sref="billing({ 'id' : 'qiwi'})" class="thumbnail text-center">
                        <img src="holder.js/100%x132" holder-fix>
                        <div class="caption">
                            <strong>Qiwi</strong>
                        </div>

                    </a>
                    
                </div><div class="col-md-3">
                    <a href ui-sref="billing({ 'id' : 'qiwi'})" class="thumbnail text-center">
                        <img src="holder.js/100%x132" holder-fix>
                        <div class="caption">
                            <strong>Qiwi</strong>
                        </div>

                    </a>
                    
                </div><div class="col-md-3">
                    <a href ui-sref="billing({ 'id' : 'qiwi'})" class="thumbnail text-center">
                        <img src="holder.js/100%x132" holder-fix>
                        <div class="caption">
                            <strong>Qiwi</strong>
                        </div>

                    </a>
                    
                </div>


   




            </div>
</div>