<%- partial('partials/header')%>



<article class="padding scroll">
	<nav class=" text bold margin-bottom column_12" data-tuktuk="menu">
	    <a href="#" class="active">Information</a>
	    <a href="#">Security</a>
	    <a href="#">API</a>
	</nav>


<form id="form" name="form" class="padding-top column_6 ">

    <label>Password</label>
    <input type="text" name="default" id="default">   

    <label>Repeat password</label>
    <input type="text" name="default" id="default">

   	<button class="margin-top">SAVE</button>
</form>



</article>

<footer class="bck light">

</footer>
