<!DOCTYPE html>
<html>
	<head>
		<title>LessPay</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>



		<!--
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.1.1/cerulean/bootstrap.min.css">			
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		-->

		<link rel="stylesheet" href="/styles/less/theme.css">
		<link rel="stylesheet" href="/styles/less/front.css">
	</head>

	<body>
		<%- body %>


		<script src="//localhost:35730/livereload.js"></script>
		<script src="/js/dependencies/sails.io.js"></script>		
		<script src="/js/angular.js"></script>
		<script src="/js/angular-sanitize.min.js"></script>
		<script src="/js/loading-bar.js"></script>
		<script src="/js/angular-ui-router.js"></script>
		<script src="/js/angular-bootstrap.js"></script>
		<script src="/js/angular-scroll.js"></script>
		<script src="/front/app/router.js"></script>
		<script src="/front/app/app.js"></script>
	</body>
</html>
