<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">

                    <form action class="form-horizontal" role="form">
                        <legend>Change password</legend>
                        

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Old password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Old password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Repeat password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Repeat password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <button type="submit" class="btn btn-info btn-block">Save</button>
                            </div>
                        </div>



                    </form>
                </div>
            </div>

            
        </div>
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">

                    <form action class="form-horizontal" role="form">
                        <legend>Confirmations</legend>
                        

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Old password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Old password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Repeat password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Repeat password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <button type="submit" class="btn btn-info btn-block">Save</button>
                            </div>
                        </div>



                    </form>
                </div>
            </div>



            
        </div>
        <div class="col-xs-12">
            
        </div>
    </div>
</div>