<div class="container hidden-sm">
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header ">
				<h1>
					Vouchers
				</h1>
			</div>
			
		</div>
	</div>
</div>

<div class="">

	<div class="container">
		

		<div class="row region white shadow padding2x-top padding2x-bottom margin2x-bottom">
			<div class="col-md-2">
				
				<ul class="nav nav-pills nav-stacked">
					<li ui-sref-active="active"><a href ui-sref="vouchers.buy">Buy voucher</a></li>
					<li ui-sref-active="active"><a href ui-sref="vouchers.list">Manage vouchers</a></li>
					<li ui-sref-active="active"><a href ui-sref="vouchers.activate">Activate voucher</a></li>
				</ul>
			</div>

			<div class="col-md-10" ui-view="page">


			


				<div class="container-fluid">
				    <div class="row form-group product-chooser">
				    
				    	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ui-sref="vouchers.buy">
				    		<div class="product-chooser-item selected">
				    			<img src="http://placehold.it/300x300" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
				              	
				                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
				    				<br>
				    				
				    				<p class="description">
				    					Buy LessPay Voucher and give it to anyone. 
				    				</p>

				    				<a class="btn btn-default  btn-block"><strong>BUY</strong></a>

				    			</div>
				    			<div class="clear"></div>
				    		</div>
				    	</div>
				    	
				    	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ui-sref="vouchers.list">
				    		<div class="product-chooser-item">
				    			<img src="http://placehold.it/300x300" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop">
				                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
				    				
				    				<br>
				    				<a class="btn btn-default  btn-block"><strong>MANAGE</strong></a>
				    				<br>
				    				
				    				<span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>


				    			</div>
				    			<div class="clear"></div>
				    		</div>
				    	</div>
				    	
				    	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ui-sref="vouchers.activate">
				    		<div class="product-chooser-item">
				    			<img src="http://placehold.it/300x300" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile">
				                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">

				    				<br>
				    				<a class="btn btn-default  btn-block"><strong>ACTIVATE</strong></a>
				    				<br>

				    				<span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>

				    			</div>
				    			<div class="clear"></div>
				    		</div>
				    	</div>
				    	
				    </div>
				</div>


















			</div>
		</div>





	</div>

</div>


