<div id="login_section">
    <div class="region padding2x-top">
        <div class="container">
            <div class="row margin2x-bottom">

                <div class="clearfix"></div>
                <div class="col-xs-12 padding2x-top">
                    <h1 class="margin2x-top margin2x-bottom">Buy LessPay</h1>
                </div>
                
                <div class="clearfix"></div>


                <div class="region white shadow padding0 row    ">
                    <div class="padding2x-top padding2x-bottom">
                        <div class="col-md-4 padding2x-bottom padding2x-right">

                            <ul class="nav nav-pills nav-stacked">
                                <li ui-sref-active="active"><a href  ui-sref="content({ 'path' : 'buy/overview.html' })">Overview</a></li>
                                <li ui-sref-active="active"><a href  ui-sref="content({ 'path' : 'buy/make_payment.html' })">Make a Payment</a></li>
                                <li ui-sref-active="active"><a href  ui-sref="content({ 'path' : 'buy/purchase_online.html' })">How To Purchase Online</a></li>
                                <li ui-sref-active="active"><a href  ui-sref="content({ 'path' : 'buy/purchase_stores.html' })">How To Purchase Stores</a></li>
                            </ul>


                        </div>
                        <div class="col-md-8">
                            <div ng-include="content"></div>

 

                        </div>
                        <div class="clearfix"></div>

                    </div>

                </div>





            </div>
        </div>


    </div>
</div>
