<section class="bck light landing text center">
    <div class="row">
        <div class="column_10 offset_1">
            <h1>EMAIL</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <form action="/test/messages" method="POST">
            
        
            <div class="column_12 form">
                <input type="hidden" value="mail" name="type">
                <input type="hidden" value="test" name="template">

                <input type="email" name="to" placeholder="EMail" value="">
                <input type="text" name="subject" placeholder="Subject" value="">

                <textarea name="text" id="text" cols="30" rows="10" placeholder="Text" >EMAIL test</textarea>

                <button class="button large icon envelope"> SEND</button>

            </div>
        </form>
    </div>

</section> 



<section class="bck  landing text center">
    <div class="row">
        <div class="column_10 offset_1">
            <h1>ICQ</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <form action="/test/messages" method="POST">
            
        
            <div class="column_12 form">
                <input type="hidden" value="icq" name="type">

                <input type="text" name="to" placeholder="ICQ" value="">

                <textarea name="text" id="text" cols="30" rows="10" placeholder="Text" >ICQ test</textarea>

                <button class="button large icon envelope"> SEND</button>

            </div>
        </form>
    </div>

</section> 


<section class="bck light landing text center">
    <div class="row">
        <div class="column_10 offset_1">
            <h1>JABBER</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <form action="/test/messages" method="POST">
            
        
            <div class="column_12 form">
                <input type="hidden" value="xmpp" name="type">

                <input type="email" name="to" placeholder="JID" value="">

                <textarea name="text" id="text" cols="30" rows="10" placeholder="Text" >Jabber test</textarea>

                <button class="button large icon envelope"> SEND</button>

            </div>
        </form>
    </div>

</section>  



<section class="bck  landing text center">
    <div class="row">
        <div class="column_10 offset_1">
            <h1>SMS</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <form action="/test/messages" method="POST">
            
        
            <div class="column_12 form">
                <input type="hidden" value="sms" name="type">

                <input type="text" name="to" placeholder="Phone" value="">

                <textarea name="text" id="text" cols="30" rows="10" placeholder="Text" ></textarea>

                <button class="button large icon envelope"> SEND</button>

            </div>
        </form>
    </div>

</section>  