<div class="container margin2x-top margin2x-bottom">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified">
                <li ui-sref-active="active"><a href ui-sref="accounts.list">Accounts</a></li>
                <li ui-sref-active="active"><a href ui-sref="accounts.transfer">Transfer</a></li>
                <li ui-sref-active="active"><a href ui-sref="accounts.history">History</a></li>
            </ul>
        </div>
    </div>
	<div class="row region white shadow  padding padding2x-top padding2x-bottom" ui-view="page"></div>
</div>

