<legend>New account</legend>
<form action>

	<div class="form-group">
		<div class="input-group">
			
			<input type="text" class="form-control">

			<div class="input-group-btn">
				
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">BTC</a></li>
					<li><a href="#">LTC</a></li>
					<li><a href="#">LP</a></li>
				</ul>
			</div>
		
		</div>
	</div>
	
</form>

<hr>
